.container {
  width: 96%;
  margin: 0 2% 10px 2%;
  border: 1px solid #d5d5d5;
	box-shadow: 0px 1px 11px #ccc;
}
.title {
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #d5d5d5;
}
.titleBtn {
	margin: 0 35px;
	float: right;
}
.titleBtn .el-button {
  padding: 7px;
  font-size: 12px;
}
.borderB0 {
  border: none;
}
.textCenter {
  text-align: center;
  position: relative;
}
.textLeft {
  padding-left: 20px;
  text-align: left;
}
.leftBox {
	border-right: 1px solid #d5d5d5;
}
.rightBox {
	box-sizing: border-box;
	border-left: 1px solid #d5d5d5;
}
.borderTop {
  border-top: 1px solid #d5d5d5;
  border-bottom: none;
}
.infoTable, .detailTable {
  width: 88%;
  padding: 10px 1%;
  margin: 16px 5%;
  border: 1px solid #d5d5d5;
  box-shadow: 0px 1px 11px #ccc;
}
.infoTable table tbody tr td {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  height: 46px;
  line-height: 40px;
  padding: 0 2px!important;
}
.detailList {
  min-height: 100px;
  border: 1px solid #d5d5d5;
  border-radius: 8px;
  padding: 10px;
}

.leftNav a {
  color: #333;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  text-align: left;
  padding-left: 12px;
  border-bottom: 1px solid #d5d5d5;
  background: #fff;
  position: relative;
}
.iconArrow {
  display: inline-block;
  position: absolute;
  top: 14px;
  right: 12px;
  width: 12px;
  background-size: 5px 11px;
  background-position: center;
}
.nav_second_box {
  max-height: 300px;
  overflow-y: scroll;
}
.nav_second>a {
  padding: 0;
  background: #fff;
  position: relative;
  height: 40px;
  line-height: 40px;
}
.nav_second>a span {
  padding: 0 6px 0 24px;
  width: 80%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.leftNav .el-icon-error {
  position: absolute;
  top: 14px;
  right: 4px;
  display: none;
  color: red;
}
.leftNav .nav_frist .el-icon-error {
  right: 10px;
}
.nav_second>a:hover .el-icon-error,
.nav_frist>a:hover .el-icon-error {
  display: block;
}
.navChildIcon {
  width: 8px;
  height: 8px;
  background: #bababa;
  position: absolute;
  left: 12px;
  top: 16px;
}
.nav_frist_box a:hover {
	color: #3e94e1;
	background: #fff;
}
.nav_second>a:hover {
  background: #f5f5f5;
}
.leftNav .nav_first_active,
.leftNav .nav_second_active>a {
	color: #3e94e1;
}
.nav_second>a:hover .navChildIcon, 
.nav_second_active>a .navChildIcon {
  background: #3e94e1;
}
.navEmpty {
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #909399;
}

.rightForm {
  width: 78%;
  padding: 8px 3%;
}
.rightTable {
  width: 96%;
  margin: 2%;
}

.ide-box-icon {
  color: #979797;
  margin-right: 20px;
}
.ide-box-icon:before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 4px;
  margin-right: 6px;
  border-radius: 50%;
}
.ide-box-icon-red:before {
background-color: #f15755;
border: 2px solid #f9bcbb;
}
.ide-box-icon-yellows:before {
background-color: #fbc404;
border: 2px solid #fce28b;
}
.ide-box-icon-brown:before {
background-color: #b2c44e;
border: 2px solid #e5f29a;
}
.ide-box-icon-green:before {
background-color: #4ec463;
border: 2px solid #b8e7c1;
}
.ide-box-icon-table .ide-box-icon,
.ide-box-icon-table .ide-box-icon:before {
  margin-right: 0;
}
.moveDiv {
  display: none;
  position: absolute;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background: rgba(0,0,0,0.3);
  box-shadow: 0px 1px 11px #ccc;
}
.container .addModuleBtn {
  position: absolute;
  height: 48px;
  line-height: 48px;
  right: 8px;
  cursor: pointer;
}
.add-process-box {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 13px;
  border-bottom: 1px solid #d5d5d5;
  cursor: pointer;
}
.add-process-box .el-icon-circle-plus-outline {
  margin-left: 4px;
}
.emptyBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.emptyBox img {
  width: 100px;
  height: 100px;
}
.emptyBox .emptyText {
  text-align: center;
  font-size: 13.5px;
  color: #909399;
  padding-left: 10px;
}