.searchBox, .interfaceInfo, .pageBox, .searchBoxLog {
  padding: 6px;
}
.seachIpt {
  display: block;
  float: right;
}
.seachIpt .el-input__inner,
.seachIpt .el-input__icon,
.searchBoxLog .el-input__inner {
  height: 32px;
  line-height: 32px;
}
.pageBox {
  text-align: right;
  padding-top: 0;
  padding-right: 20px;
}
.searchBox .searchIptItem {
  width: 180px;
}
.searchBox .el-input {
  font-size: 13.5px;
}
.searchBoxLog .el-form {
  display: flex;
}
.searchBoxLog .el-form--inline .el-form-item {
  flex: 1;
  margin-bottom: 0;
}
.searchBoxLog .el-button {
  padding: 8px 20px;
}
.searchBoxLog .el-form-item__content {
  line-height: normal;
  margin-bottom: 0;
}
.searchBoxLog .el-range-editor.el-input__inner {
  padding: 0 10px;
}
.interfaceInfo .el-table__expanded-cell[class*=cell] {
  padding: 6px 20px;
}
.childTable .el-table th {
  padding: 4px 0;
}