@charset "utf-8";
.page .fullWidth{
  	width:100%;
}
.page .tableHead {
  border:none;
  border-spacing:0 15px;
}
.page .colorRed{
  color:red
}
.page .multiRows{
  border:black 1px solid;
  text-align:center
}
.page .tdMinWidth{
  min-width:100px;
}
.page .tableOne {
  overflow-x:scroll;
}
.page .tableTwo {
  overflow-x:scroll;
}